.card-wrapper {
  position: relative;
  padding: 24px;
  background-image: var(--bg-image);
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
}

.card-wrapper::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 0;
  transition: 0.4s ease-in-out;
}
.card-wrapper:hover::before {
  height: 100%;
}

.card-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-texts {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}

.card-texts h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  text-align: center;
}
.card-texts span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.card-link {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.card-link::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.card-link:hover::before {
  transform: scale(1);
}
.card-link img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.card-link:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
